@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('./assets/font/vazir-font-v26.0.2/Farsi-Digits/Vazir-FD.woff') format('woff')
}

*{
  font-family: 'vazir' !important;
}
